<!--<h1>1 Sinatraをインストールしよう</h1>-->
<!--<h2>1-1 Sinatraとは</h2>-->
<!--<h2>1-2 Sinatraのインストール</h2>-->

<!--サイコロの目は、「<%= @random %>」です-->

<link rel="stylesheet" href="/style.css">  

<div class='tweets'>
  <% @tweets.each do |tweet| %>
    <div class='tweet' style="background-image: url(<%= tweet.image %>)">
      <p class='tweet-text'><%= tweet.text %></p>
    </div>
  <% end %>
</div>

